
;; https://clojure.org/guides/deps_and_cli#_running_a_repl_and_using_libraries
{
 :paths ["src"]
 :deps
 {
  clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
  cljfx/cljfx {:mvn/version "1.10.6"}
  complex/complex {:mvn/version "0.1.12"}
  }
 :aliases {:run {:main-opts ["-A" "mandelbrot1"]}
           :jvm-opts ["--enable-native-access=ALL-UNNAMED"]} 
 }






